section{
    padding: 60px 0px;
}
.submit-btn{
    text-decoration: none;
    background-color: #130F40;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
}
.submit-btn:hover{
    background-color: #6EC1E4;
}
.contact-form-container{
    align-items: center;
}
.contact-info{
    text-align: start;
}