footer{
    padding: 60px 0px;
    background-color: #fff;
    border-top: 1px solid #6ec1e444;
}
.social-icon{
    font-size: 35px;
    padding: 0px 15px;
    color: #130F40
}
.social-icon:hover{
    color: #6ec1e4;
}
